@model EmployeeManager.Models.ViewModels.PositionAddVM

@{
    ViewData["Title"] = "AddNewPositionForm";
}

<h3>Add new position</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewPositionForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <input asp-for="PositionId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="AddNewPosition" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>


