@model EmployeeManager.Models.Project

@{
    ViewData["Title"] = "AddNewProject";
}

<h1>Add new project</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ProjectId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" placeholder="Enter new project name"/>
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" asp-controller="Project" asp-action="AddNewProject"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
